@use '../abstracts/mixins' as *;

.section-banner {
    padding: 60px 0;
    position: relative;

    @include table {
        padding: 80px 0;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #222322 9.13%, rgba(0, 0, 0, 0) 83%);

    }

    &__wrapper {
        position: relative;
        z-index: 1;
        color: white;
    }

    &__texts {
        max-width: 600px;
        @include flex(column, center, start, 20px)
    }
}