@use '../../../abstracts/mixins' as *;

.about {
    overflow: hidden;
    background-color: var(--color-black);

    @include table {
        position: relative;
    }

    &__wrapper {
        color: white;
        display: grid;
        gap: 30px;

        @include table {
            gap: 0;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }

    &__content {
        padding: 60px 0 0;
        @include flex(column, flex-start, start, 20px);

        @include table {
            padding: 60px 60px 60px 0px;
        }
    }

    &__texts {
        @include flex(column, center, start, 10px);
    }

    &__list {
        display: grid;
        gap: 20px;
    }

    &__card {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 10px;
        align-items: center;

        @include table {
            gap: 27px;
        }

        &--number {
            font-size: 85px;
            font-weight: 600;
            -webkit-text-stroke: 2px rgba(255, 255, 255, 0.17);
            color: transparent;
        }

        &--texts {
            display: flex;
            flex-direction: column;

        }
    }


    &__image {
        width: 100%;
        height: 100%;

        &--lines {
            position: absolute;
            width: 400px;
            z-index: 1;
            display: none;

            @include table {
                display: initial;
            }

            &--top {
                top: 0;
                left: 50%;
            }

            &--bottom {
                bottom: 0;
                right: 0;
            }
        }

        &--img {
            @include table {
                position: absolute;
                right: 0;
                top: 0;
                width: 50%;
                height: 100%;
            }
        }
    }
}