@use '../../../abstracts/mixins' as *;

.banner {
    position: relative;
    height: 60vh;
    min-height: 500px;
    display: flex;
    align-items: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(34, 35, 34, 0) 78.26%, #222322 105.02%);
    }

    &__wrapper {
        margin-top: 50px;
        position: relative;
        z-index: 1;

        color: white;


    }

    &__texts {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include table {
            max-width: 400px;
        }


    }

    &__h1 {
        display: flex;
        flex-direction: column;
        line-height: 1;
        padding-bottom: 20px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 120px;
            height: 1px;
            background-color: var(--color-white);
        }
    }

    &__p {}

    a.button.button--aqua.banner__cta {}
}