@use '../../../abstracts/mixins' as *;

.suppliers {
    padding: 60px 0;

    &__texts {
        margin-bottom: 40px;
        @include flex(column, center, center, 15px);
        text-align: center;

        @include table {
            margin-bottom: 50px;
        }
    }

    &__card {

        &--img {
            height: 70px;
            object-fit: contain;
        }
    }
}