@use '../../../abstracts/mixins' as *;

.suppliers {
    padding: 60px 0;

    .suppliers__wrapper.max-width {



        .swiper-suppliers.g-swiper {

            .swiper-wrapper {

                .swiper-slide {}
            }

            .swiper-pagination {}
        }
    }

    &__texts {
        margin-bottom: 40px;
        @include flex(column, center, center, 15px);
        text-align: center;

        h2.h2.suppliers__h2 {}

        p.p.suppliers__p {}
    }

    &__card {

        &--img {
            height: 70px;
            object-fit: contain;
        }
    }
}