@use '../../../abstracts/mixins' as *;

.timeline {
    padding: 60px 0;

    &__wrapper {}

    &__header {
        @include flex(column, center, center, 10px);
    }

    &__list {
        position: relative;
        max-width: 1240px;
        margin: 30px auto 0;
        padding: 30px 0;

        display: grid;
        row-gap: 20px;

        @include table {
            grid-template-columns: 1fr 1fr;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: var(--color-aqua);
            box-shadow: 0px 4px 4px 0px #00000040;

            @include table {
                left: calc(50% - .5px);
            }
        }
    }

    &__item {
        padding: 0 0 0 20px;
        display: flex;
        align-items: center;
        position: relative;

        @include table {
            padding: 0 60px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            background-color: var(--color-aqua);
            border-radius: 50%;
            border: 3px solid white;
            left: -8px;
        }

        &--left {
            @include table {
                grid-column: 1;
                text-align: end;

                &::before {
                    left: calc(100% - 9px);
                }
            }
        }

        &--right {
            @include table {
                grid-column: 2;

                &::before {
                    left: -9px;
                }
            }
        }
    }

    &__content {
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background-color: var(--color-white);
        border-radius: 7px;
    }

    &__span {
        color: var(--color-aqua);
    }
}