@use '../abstracts/vars' as *;
@use '../abstracts/mixins' as *;

:root {
	--color-black: #222322;
	--color-white: #fff;
	--color-gray: #F5F5F5;
	--color-aqua: #026874;
	--color-light-aqua: #AFE3E9;
	--color-mind-aqua: #86B2B7;
	--font-poppins: 'Poppins', sans-serif;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
	}
}

* {
	margin: 0;
	padding: 0;
	min-width: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}

html {
	scroll-behavior: smooth;
}

img,
picture,
video,
iframe,
figure {
	max-width: 100%;
	width: 100%;
	display: block;
	margin: 0;
	object-fit: cover;
	object-position: center center;
}

figure img {
	height: 100%;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

p a {
	display: inline;
}

ul {
	margin: 0;
}

li {
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

span,
a,
strong,
blockquote,
i,
b,
u,
em {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: inherit;
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

b,
strong {
	font-weight: bold;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

::selection {}

form,
input,
textarea,
select,
button,
label {
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	color: inherit;
	display: block;
	appearance: none;
	outline: none;
	cursor: pointer;
}

select,
textarea,
input {
	width: -webkit-fill-available;
	padding: 16px 10px;
	font-size: 16px;
	border: 1px solid var(--color-black);
	color: var(--color-black);
	border-radius: 7px;

	&:focus {
		outline: none;
		border-color: var(--color-aqua);
		box-shadow: 0 0 0 3px var(--color-aqua);
	}

	&::placeholder {
		color: var(--color-black);
	}
}

textarea {
	height: 240px;
}

select {}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="checkbox"] {
	cursor: pointer;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
	width: 14px;
	height: 14px;
	appearance: none;
	border-radius: 3px;

	&:checked {}
}

summary {
	list-style: none;
	cursor: pointer;
}

textarea {
	white-space: pre-wrap;
}

::placeholder {
	color: unset;
}

summary::-webkit-details-marker {
	display: none;
}

table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}

svg {
	width: 100%;
	display: block;
}

body {
	min-height: 100vh;
	font-size: 1rem;
	overflow-x: hidden;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: white;
	color: var(--color-black);
	font-family: var(--font-poppins);

	&.hidden {
		overflow: hidden;
	}
}

#page {
	@include mx-table {
		overflow: hidden;
	}
}