@use '../../../abstracts/mixins' as *;

.info-banner {
    margin: 60px 0;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(256.19deg, rgba(0, 0, 0, 0) 58.5%, rgba(34, 35, 34, 0.9) 75.5%);

    }

    &__wrapper {
        overflow: hidden;
        position: relative;
        padding: 60px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        border-radius: 7px;

        @include table {
            padding: 90px 30px;
        }

    }

    &__texts {
        position: relative;
        z-index: 1;
        max-width: 240px;
    }

    &__p {
        font-style: italic;
    }

    &__span {
        font-size: 14px;
    }

    &__content {
        margin-bottom: 60px;
    }
}