@use '../../../abstracts/mixins' as *;

.steps {
    padding: 60px 0;
    position: relative;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #222322 9.13%, rgba(0, 0, 0, 0) 83%);
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        color: white;
    }


    &__header {
        @include flex(column, center, center, 10px);
    }

    &__h2 {}

    &__p {}

    &__list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 20px;
    }

    &__item {
        padding: 20px;
        @include flex(column, center, center, 10px);
        text-align: center;
        border-radius: 7px;
        color: var(--color-white);
        background-color: #222322C9;
        box-shadow: 0px 4px 4px 0px #00000040;

        &--number {
            font-size: 85px;
            font-weight: 600;
            -webkit-text-stroke: 2px rgba(255, 255, 255, 0.17);
            color: transparent;
        }

        &__h3 {}

        &__p {}
    }
}